/* This stylesheet is meant for custom styles, on top of the Bone Template */
p, .copyright{
  font-size: 1em;
  text-align: justify;
}

.gray .plan.highlighted{
  background-color: #ffd6b6;
}

p::selection{
  color: #ff9500;
}

h1::selection{
  color: #ff9500;
}

h2::selection{
  color: #ff9500;
}

h3::selection{
  color: #ff9500;
}


h4::selection{
  color: #ff9500;
}

h5::selection{
  color: #ff9500;
}

.btn.btn-default{
  color: #ffd6b6;
}

ul.social li a{
  color: #ff9500;
}

.service .icon{
  color: #ff9500;
}

strong::selection{
  color: #ff9500;
}

li::selection{
  color: #ff9500;
}

div::selection{
  color: #ff9500;
}

span::selection{
  color: #ff9500;
}

#contato{
  background-color: #ffd6b6;
}

span.accent{
  color: #ff9500;
}

#booking-social{
  font-size: 3em;
  color: #ff9500;
}

#booking-social a{
  color: #ff9500;
  padding: 3%;
}

#booking-social a:hover{
  text-decoration: none;
  color: #ffd6b6;
}

#booking-social a:visited{
  text-decoration: none;
}

#booking-social a:active{
  text-decoration: none;
}

a{
  color: #ff9500;
}

a:hover{
  color: #ffd6b6;
  text-decoration: none;
}

a:visited{
  color: #ff9500;
  text-decoration: none;
}
a:active{
  color: #ff9500;
  text-decoration: none;
}

.sucesso{
  color: green;
}
.falha{
  color: red;
}
.laranja{
  color: orange;
}

i{
  font-size: 3em;
  padding-bottom: 10%;
}

.espaco{
  margin-bottom: 10%;
}

.clean:link{
  color: black;
  text-decoration: none;
}

.clean:visited{

  color: black;
  text-decoration: none;
}
